#grassArea {
    max-width: 65%;
}

.grassField {
    border: 1px solid #ffffff;
}

#foundEggsText {
    font-weight: 700;
    font-size: 1.3em;
}

#description {
    font-size: 1.3em;
}

#startGameButton {
    background-color: bisque;
}

#sound {
    width: 48px;
    height: 48px;
}

#soundLabel,
#startGameButton {
    font-size: 3.5em;
}

#startGameButton {
    margin-right: 10px;
}