#grassArea {
   max-width: 65%;
}

.grassField {
    width: 20%;
    max-width: 100px;
    border: 1px solid #ffffff;
}

#foundEggsText {
    font-weight: 700;
    font-size: 1.3em;
}

#description, #startGameButton, #soundLabel {
    font-size: 1.2em;
}

#startGameButton {
    background-color: bisque;
}